# Created by .ignore support plugin (hsz.mobi)
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/uiDesigner.xml
.idea/workspace.xml

springboot-multi-module-gradle/demo-admin/build/
springboot-multi-module-gradle/demo-code/out/
springboot-multi-module-gradle/demo-model/out/
springboot-multi-module-gradle/demo-web/build/
springboot-multi-module-gradle/demo-web/out/
