<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error View</title>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content="This is error view." />
    <meta name="author" content="Wenyi Feng" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background-color: #eee;
        }
        .home {
            width: 300px;
            height: 125px;
            background-color: #333;
            color: #eee;
            text-align: center;
            padding-top: 50px;
            font-size: 50px;
            border-radius: 5px;
            margin: 100px auto 0;
        }
    </style>
</head>
<body>
    <div class="home">
        Error
    </div>
</body>
</html>